<div class="wrapper">
    <div class="page-header clear-filter" filter-color="light">
        <div class="page-header-image rellax-header"
            style="background-image: url('https://fac.img.pmdstatic.net/fit/https.3A.2F.2Fi.2Epmdstatic.2Enet.2Ffac.2F2021.2F03.2F23.2F33adaa61-0ef8-4e96-a787-080ecc8e7eef.2Ejpeg/1200x900/quality/80/crop-from/center/focus-point/707%2C623/paiement-en-ligne-et-maintenant-une-etape-de-validation-supplementaire.jpeg');">


            <div _ngcontent-c2="" class="container">
                <div _ngcontent-c2="" class="content-center brand">
                    <h1 style="color: orangered;">Welcome to GPGcheckout.</h1>
                    <h3 style="color: black;">Prestataire de service de paiement.</h3>
                </div>
            </div>
        </div>

    </div>
</div>

<div _ngcontent-c2="" class="container">
    <div _ngcontent-c2="" class="content-center">
        <a _ngcontent-fin-c66="" class="btn btn-warning btn-round btn-lg" href="/examples/espacepar">Espace
            particulier</a>
        <a _ngcontent-fin-c66="" class="btn btn-warning btn-round btn-lg" href="/examples/espaceprofessionnel"> Espace
            professionnel</a>
    </div>
</div>








<div class="container">
    <div class="row">
        <div id="carousel">
            <div>
                <div class="title">
                    <h4>LA SOLUTION DE PAIEMENT QUI VA FAIRE ÉVOLUER VOTRE BUSINESS</h4>
                </div>
                <div class="row">
                    <div>
                        <ngb-carousel>
                            <ng-template ngbSlide>
                                <img class="d-block" src="https://www.gpgcheckout.com/images/s-hba-3.png"
                                    alt="First slide">
                            </ng-template>

                            <ng-template ngbSlide>
                                <img class="d-block" src="https://www.gpgcheckout.com/images/s-hba-2.png"
                                    alt="Second slide">
                            </ng-template>

                            <ng-template ngbSlide>
                                <img class="d-block" src="https://www.gpgcheckout.com/images/s-hba-4.png"
                                    alt="Third slide">
                            </ng-template>
                        </ngb-carousel>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-6 row-cols-lg-5 g-6 py-5" style="margin: 20px; justify-content: center;">

    <div class="card" style="width: 18rem; justify-content: center;margin: 20px;" *ngFor="let i of info" >
        <div style="display: block;justify-content: center;">

            <img class="card-img-top" style="width: 100px; min-height: 100px ; max-height: 100px ; border-radius: 20px; padding: 30px;" [src]="i.Image" alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">{{i.title}}</h5>
            <p class="card-text" style="overflow: hidden; max-lines: 2; max-height: 100px ;min-height: 100px ; overflow: hidden;">{{i.desc}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-6 row-cols-lg-5 g-6 py-5" style=" justify-content: center;">

    <div class="card" style="width: 18rem; justify-content: center;margin: 20px;" *ngFor="let i of infoSous" >
     
        <div class="card-body">
            <h5 class="card-title">{{i.title}}</h5>
            <p class="card-text" style="overflow: hidden; max-lines: 2; max-height: 100px ;min-height: 100px ; overflow: hidden;">{{i.desc}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

</div>





<div class="section section-javascript" id="javascriptComponents">
    <div class="container">
        <h3 class="title">Angular Native Components</h3>
        <div class="row" id="modals">
            <div class="col-md-6">
                <h4>Modal</h4>
                <ngbd-modal-component></ngbd-modal-component>
            </div>
            <div class="col-md-6">
                <h4>Popovers</h4>
                <button type="button" class="btn btn-default" placement="right"
                    ngbPopover="Here will be some very useful information about this popover."
                    popoverTitle="Popover on right" popoverClass="popover-primary">
                    On right
                </button>

                <button type="button" class="btn btn-default" placement="top"
                    ngbPopover="Here will be some very useful information about this popover."
                    popoverTitle="Popover on top">
                    On top
                </button>

                <button type="button" class="btn btn-default" placement="left"
                    ngbPopover="Here will be some very useful information about this popover."
                    popoverTitle="Popover on left">
                    On left
                </button>

                <button type="button" class="btn btn-default" placement="bottom"
                    ngbPopover="Here will be some very useful information about this popover."
                    popoverTitle="Popover on bottom">
                    On bottom
                </button>
            </div>
            <br />
            <br />
            <div class="col-md-6">
                <h4>Datetimepicker</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="datepicker-container">
                            <div class="form-group">
                                <input class="form-control datetimepicker" placeholder="06/07/2017" name="dp"
                                    [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()"
                                    data-color="orange">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Tooltips</h4>
                <button type="button" class="btn btn-default btn-tooltip" placement="right"
                    ngbTooltip="Tooltip on right">
                    On right
                </button>
                <button type="button" class="btn btn-default btn-tooltip" placement="left" ngbTooltip="Tooltip on left">
                    On left
                </button>
                <button type="button" class="btn btn-default btn-tooltip" placement="top" ngbTooltip="Tooltip on top">
                    On top
                </button>
                <button type="button" class="btn btn-default btn-tooltip" placement="bottom"
                    ngbTooltip="Tooltip on bottom">
                    On bottom
                </button>
                <div class="clearfix"></div>
                <br>
                <br>
            </div>

        </div>

    </div>
</div>




<div class="space-50"></div>



<div class="section" data-background-color="black">
    <div class="row justify-content-md-center sharing-area text-center">
        <div class="text-center col-md-12 col-lg-8">
            <h3 style="color: #ed6a18;">SUIVEZ-NOUS!</h3>
        </div>
        <div class="text-center col-md-12 col-lg-8">
            <a target="_blank" href="https://twitter.com/GlobalPaymentGa"
                class="btn btn-neutral btn-icon btn-twitter btn-round btn-lg" rel="tooltip"
                alt="twitter-gpg-global-payement-gateway">
                <i class="fab fa-twitter"></i>
            </a>
            <a target="_blank" href="https://www.facebook.com/GlobalPaymentGateway?ref=bookmarks"
                class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip"
                title="facebook-gpg-global-payement-gateway-e-commerce-tunisie-checkout">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a target="_blank"
                href="https://www.linkedin.com/company/5294983?trk=tyah&amp;trkInfo=tarId%3A1422286145350%2Ctas%3AGPG%2Cidx%3A3-1-9"
                class="btn btn-neutral btn-icon btn-linkedin btn-lg btn-round" rel="tooltip"
                title="linked-in-gpg-global-payement-gateway">
                <i class="fab fa-linkedin"></i>
            </a>
            <a target="_blank" href="https://plus.google.com/105307270472703676294/posts"
                class="btn btn-neutral btn-icon btn-google btn-round btn-lg" rel="tooltip"
                title="google-plus-gplus-gpg-global-payement-gateway">
                <i class="fab fa-google"></i>
            </a>

            <a target="_blank" href="https://www.pinterest.com/gpgcheckout/"
                class="btn btn-neutral btn-icon btn-pinterest btn-round btn-lg" rel="tooltip"
                title="pinterest-gpg-global-payement-gateway">
                <i class="fab fa-pinterest"></i>
            </a>


        </div>
    </div>
</div>




<footer class="footer" style=" background-color: #ed6a18;">
    <div class="row container text-center">
        <div class="col-md-6">
            <p style="color: rgba(255, 255, 255, 0.999);font-size: 14px;">Copyright © 2023 - Powered by Global Payment
                Gateway
                <span style="color: white;font-size: 10px;">Tous droits réservés</span>
            </p>
        </div>
        <div class="col-md-6">
            <img src="https://www.gpgcheckout.com/images/Carte%20paiement.png" alt="" title="">
        </div>
    </div>
</footer>