<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg6.jpg');">
        </div>
    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto">
                    <h3 class="title" style="color: orange;">PRESTATAIRE DE SERVICE DE PAIEMENT</h3>                   
                    <h5 ><p>Placés entre la page panier du site marchand et la banque, les prestataires de services de paiement (PSP) assurent une mission de base pour les e-commerçants à savoir : l’encaissement de l'argent réglé par les cyberacheteurs. Une mission que la plupart des marchands ne peuvent assurer eux-mêmes, n'étant pas certifiés PCI DSS ni donc autorisés à traiter des données bancaires</p>
                <p>Avec le développement du commerce électronique, les moyens de paiement en ligne se diversifient où les nouvelles niches incitent prestataires, banques, e-commerçants ou éditeurs à développer et proposer des solutions alternatives. Le défis de Global Payment Gateway est de se connecter aux moyens de paiement, les plus pertinents, être simples à installer et administrer, assurer une bonne gestion de la fraude.</p>
                <p>Global Payment Gateway offre un service de bout en bout, intégrant des solutions innovantes et les meilleures pratiques de ses partenaires. Elle garantit ainsi à ses marchands les meilleurs résultats opérationnels.

                    Pour le marchand : Les commerçants cherchent un partenaire capable de tirer parti des innovations technologiques pour améliorer l’expérience d’achat, générer des nouvelles opportunités de ventes et optimiser leurs processus commerciaux.</p>
              <p>L’ambition de Global Payment Gateway est de renforcer l’engagement du client par le biais de services cross-canal innovants destinés aux commerçants, avant, pendant et après la vente – avec le paiement comme « point d’entrée unique ». Pour ce faire, Global Payment Gateway conçoit, exploite et maintien des services et des solutions métiers pour le compte de ses clients.</p></h5>

            </div>
            </div>
           
        </div>
    </div>
    <div class="section"  data-background-color="black">
        <div class="row justify-content-md-center sharing-area text-center">
          <div class="text-center col-md-12 col-lg-8">
            <h3 style="color: #ed6a18;">SUIVEZ-NOUS!</h3>
          </div>
          <div class="text-center col-md-12 col-lg-8">
            <a target="_blank" href="https://twitter.com/GlobalPaymentGa" class="btn btn-neutral btn-icon btn-twitter btn-round btn-lg" rel="tooltip" alt="twitter-gpg-global-payement-gateway">
              <i class="fab fa-twitter"></i>
            </a>
            <a target="_blank" href="https://www.facebook.com/GlobalPaymentGateway?ref=bookmarks" class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip" title="facebook-gpg-global-payement-gateway-e-commerce-tunisie-checkout">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a target="_blank" href="https://www.linkedin.com/company/5294983?trk=tyah&amp;trkInfo=tarId%3A1422286145350%2Ctas%3AGPG%2Cidx%3A3-1-9" class="btn btn-neutral btn-icon btn-linkedin btn-lg btn-round" rel="tooltip" title="linked-in-gpg-global-payement-gateway">
              <i class="fab fa-linkedin"></i>
            </a>
            <a target="_blank" href="https://plus.google.com/105307270472703676294/posts" class="btn btn-neutral btn-icon btn-google btn-round btn-lg" rel="tooltip" title="google-plus-gplus-gpg-global-payement-gateway">
              <i class="fab fa-google"></i>              
              </a>

           <a target="_blank" href="https://www.pinterest.com/gpgcheckout/" class="btn btn-neutral btn-icon btn-pinterest btn-round btn-lg" rel="tooltip" title="pinterest-gpg-global-payement-gateway">
            <i class="fab fa-pinterest"></i>              
           </a>


          </div>
        </div>
    </div>




<footer class="footer" style=" background-color: #ed6a18;">
  <div class="row container text-center">
  <div class="col-md-6">
      <p style="color: rgba(255, 255, 255, 0.999);font-size: 14px;">Copyright © 2023 - Powered by Global Payment Gateway 
          <span style="color: white;font-size: 10px;">Tous droits réservés</span> 
      </p>
  </div>
<div class="col-md-6"> 
<img src="https://www.gpgcheckout.com/images/Carte%20paiement.png" alt="" title="">       
</div>
</div>
</footer>

